@{
    ViewData["Title"] = "About";
}
<br />
<br />
<h1>Welcome to our Website, this is our team</h1>
<br />
<br />


<div class="row">

    <div class="col-md-3">
        <center>
            <img src="~/galib.jpg" height="200" width="200" />
            <h3>Scrum Master</h3>
            <h4>Galib</h4>
        </center>
    </div>
    <div class="col-md-3">
        <center>
            <img src="~/aks.jpg" height="200" width="200" />
            <h3>Team Member</h3>
            <h4>Akshay</h4>
        </center>
    </div>
    <div class="col-md-3">
        <center>
            <img src="~/sid.jpg" height="200" width="200" />
            <h3>Team Member</h3>
            <h4>Siddharth</h4>
        </center>
    </div>
    <div class="col-md-3">
        <center>
            <img src="~/grace.jpg" alt="No image" height="200" width="200" />
            <h3>Product Owner</h3>
            <h4>Grace</h4>
        </center>
    </div>
</div>