@model IEnumerable<DigiLib.Models.Contact>
@{
    ViewData["Title"] = "Index";
}
<br />
<br />
<br />
<br />
<br />

<center>
    <h2>Thanks for Submitting the Request, Our Admin will get back to you soon </h2>
    <br />
    <br />
    
    <h3>In the mean time Keep Exploring</h3>
</center>

